<HTML>
<head>
    <h2><title> Customer</title> </h2> 
</head>       

<BODY bgcolor="cyan">
<form method="POST" action="{{ url_for('adduser') }}">
    <center>
    <H1>Enter your details </H1> <br>
    Account Type <input type = "text" name = "perm" /> <br>
    First Name   <input type = "text" name = "First_Name" /> <br>
    Last Name    <input type = "text" name = "Last_Name" /> <br>
    User Name    <input type = "text" name = "User_Name" /> <br>
    Email Name   <input type = "text" name = "email" /> <br>
    Password     <input type = "text" name = "password" /> <br>
    <input type = "submit">
    </center>
</form>
</BODY>
</HTML>
